<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskManager</title>
</head>
<body>
    <h1>Task Manager</h1>
    <hr>
    <h2>All Tasks</h2>
    <% for(task of tasks){ %>
        <div>
            <a href="/task/<%= task._id %>"><%= task.title %></a>
        </div>
    <% } %>
</body>
</html>